<form class="card" #formregistro="ngForm">
    <div class="card-header text-center" > --Juegos-- </div>
      <div class="card-body">
      <div class="row form-group">
        <label class="col-sm-12 col-md-4 titulos" >Categoría: Animales</label>
        <button type="button" class="btn btn-primary col-md-8 cartel" style="width: 100%;" (click)="iniciarJuego()"><i class="fas fa-dice"></i> Iniciar</button>
      </div>
      <div class="row form-group" *ngIf="mostrar1">
            <div class="col-6 titulos"><i class="fas fa-heart" style="color: red;"></i> Vidas: {{vidas}}</div>
            <div class="col-6 titulos"><i class="far fa-star"></i> Puntaje: {{puntaje}}</div>
      </div>
      <div class="row form-group" *ngIf="mostrar1">
        <div class="card-header text-center" style="width: 100%;">{{nombreEsp}}</div>
  </div>
      <div class="card-img" *ngIf="mostrar1"><img class="card-img-pers" src={{imagen}} alt=""></div>
      <div class="row form-group" *ngIf="mostrar1">
        <input class="form-control col-12 text-center" type="text" placeholder="Escriba el nombre del animal en inglés" name="txtnombreanimal" required [(ngModel)]= "palabra" #nombreanimal="ngModel"/>
        <div *ngIf="nombreanimal.invalid && (nombreanimal.dirty || nombreanimal.touched)" class="alert alert-danger">
          <div *ngIf="nombreanimal.errors.required">
              Debe ingresar el nombre en ingles
          </div>
        </div>
      </div>
      <div class="row form-group" *ngIf="mostrar1">
        <button type="button" class="btn btn-primary col-12 cartel" style="width: 100%; height: 5em;" (click)="comprobar()" [disabled]="!formregistro.form.valid"><i class="far fa-check-circle"></i> Comprobar</button>
      </div>
      <div class="row form-group" *ngIf="mostrar2">
        <label class="col-sm-12 col-md-12 titulos cartel" >¡Acertaste, Sumas 1 Punto!</label>
        <button type="button" class="btn btn-primary col-12  cartel" style="width: 100%; height: 5em;" (click)="continuar()" [disabled]="!formregistro.form.valid"><i class="far fa-check-circle"></i> Continuar</button>
      </div>
      <div class="row form-group" *ngIf="mostrar3">
        <label class="col-sm-12 col-md-12 titulos cartel">¡Error, Pierdes 1 Vida!</label>
        <button type="button" class="btn btn-primary col-12  cartel" style="width: 100%; height: 5em;" (click)="continuar()" [disabled]="!formregistro.form.valid"><i class="far fa-check-circle"></i> Continuar</button>
      </div>
      <div *ngIf="mostrar4" class="card-header cartel" style="width: 100%; height: 10em;">Perdiste todas tus vidas...<p></p>Vidas: {{vidas}}<p></p>Puntaje: {{puntaje}}<p></p>(Presione "Iniciar" para reiniciar)</div>
      <div *ngIf="mostrar5" class="card-header cartel" style="width: 100%; height: 10em;">¡GANASTE!<p></p>Vidas: {{vidas}}<p></p>Puntaje: {{puntaje}}<p></p>(Presione "Iniciar" para reiniciar)</div>
    </div>
</form>